uvicorn[standard]
psycopg2
pydantic

# Install other core dependencies
torch
torchvision
numpy
matplotlib
pandas
pillow
psutil
pyyaml
scipy
seaborn
requests
torch
torchaudio
tqdm
opencv-python-headless
