fastapi[standard]
uvicorn[standard]
psycopg2
pydantic

# Install other core dependencies
torch
torchvision
numpy
matplotlib
pandas
pyyaml
pillow
psutil
requests
tqdm
scipy
seaborn
ultralytics-thop
opencv-python-headless
ultralytics
