uvicorn[standard]
psycopg2
pydantic

# Install other core dependencies
torch
torchvision
numpy
matplotlib
pandas
pillow
psutil
pytorch
pyyaml
scipy
seaborn
requests
torchaudio
tqdm
opencv-python-headless
